.header{
    position: fixed;
    z-index: 99;
    background-color: #f5f3e221;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 60px;
    backdrop-filter: blur(8px);
}

.a {
    padding: 16px;
    height: 100%;
    transition: font-size ease-out 0.2s, background-color ease-out 0.2s;
    cursor: pointer;
}

.home {
}

.about {
}

.projects {
}

.contact {
}

.home:hover {
    background-color: #2521a660;
}

.about:hover {
    background-color: #2521a660;
}

.projects:hover {
    background-color: #2521a660;
}

.contact:hover {
    background-color: #2521a660;
}