*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

body {

  font-family: 'SFPro';
  background-color: #040505;
  color: #F5F3E2;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  position: absolute;
  left: 0px;
  width: 12px;
  background-color: #0f1011;
  backdrop-filter: blur(8px);
}


body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #232321;

}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@font-face{
  font-family: 'SFPro';
  src: url(./assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SFPro-bold';
  src: url(./assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Bold.otf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SFPro-semibold';
  src: url(./assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Semibold.otf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SFPro-medium';
  src: url(./assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Medium.otf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SFPro-thin';
  src: url(./assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Thin.otf) format(truetype);
  font-weight: normal;
  font-style: normal;
}